.bg { 
    /* The image used */
    background-image: url("../../assets/img/bg.jpeg");
    opacity: 0.9;
   
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }