<!-- <div id="wrapper">
  <app-sidebar></app-sidebar>

  <div class="col-md-10" style="background-image:url('../../assets/img/bg.jpeg');">
      /* background-image: url("../../assets/img/bg1.jpeg"); */ -->
      <!-- <br><br><br><br><br>
        <div class="col-md-10" style="padding-left:170px">					
              <form name="admin" method="post" onsubmit="return(f1());">
                <div class="form-group ab" >
                  <label class="title">Category Id:</label>
                  <input type="text" name="aname" required class="form-control textfield">
                </div>
                <div class="form-group" >
                  <label class="title">Category Name:</label>
                  <input type="text" name="lname" required class="form-control textfield">
              <br>
                <input type="submit" name="sub" class="btn btn-primary">
            </form>
              </div>
            
            </div> --> 	<div id="wrapper">
				<app-sidebar></app-sidebar>
				<div class="col-md-10" >
						<!-- /*style="background-image:url('../../assets/img/bg3.jpg');" */ -->
						<br><br><br>
							
								<h1 class="page-header"style=" font-family:Times New Roman;font-size:70px;">Add Category</h1>				
										<form #addcat="ngForm" (ngSubmit)="addcatbtn(addcat)">
											<div class="form-group ab" >
												<label class="title">Category Name:</label>
												<input type="text" name="name" [(ngModel)]="cat.newaddcat.name" #name="ngModel" required class="form-control textfield">
											</div>
											<div class="form-group" >
												<label class="title">Amount:</label>
												<input type="text" name="amount" [(ngModel)]="cat.newaddcat.amount" #amount="ngModel" required class="form-control textfield">
											</div>
											<!-- <div class="form-group" >
												<label class="title">Date</label>
												<input type="email" name="aemail"required class="form-control textfield">
											</div> -->
											<input type="submit" name="sub" class="btn btn-primary">
									
										
										</form>

										<div *ngIf="showsuccessmsg">
											Add Category Successfully
										</div>
										<div *ngIf="servererrormessage">
											{{servererrormessage}}
										</div>
			</div>
			
			


