<!-- <br><br><br><br><br>
<div class="container-fluid">
  <div class="container">
      <div class="row">
          <div class="col-md-9" style="padding-left: 28% " >
          
             -->
          <!-- <div class="col-lg-4 col-sm-6 col-md-4 col-md-offset-4"> -->
              <!-- <div class="col-lg-4 col-sm-4 col-md-4" > -->
                  <body class="bg-color">
                      <div class="bg">  
                      <div class="container">
                        
                        <div class="card card-login mx-auto mt-4">
                          <div class="card-header">Login</div>
                          <div class="card-body">

<form #sigin="ngForm" (ngSubmit)="loginbtn(sigin)">
  <div class="form-group">
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" [(ngModel)]="loginservice.newlogin.email" #email="ngModel" required="required" autofocus="autofocus" >
      <label for="inputEmail">Email address</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="loginservice.newlogin.password" #password="ngModel" required="required">
      <label for="inputPassword">Password</label>
    </div>
    </div>



    <input type="submit" class="btn btn-primary btn-block" value="Login">
    </form>
    
  </div>
                
</div>
</div>
</div>

<!-- 
<table class="table table-bordered">
  <tr>
    
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let users of loginservice.admindetails">
     <td>{{users.fname}}</td>
    <td>{{users.lname}}</td>
    <td>{{users.name}}</td> 
    <td>{{users.email}}</td> 
    

    

  </tr>


  </table> -->
  <!-- <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title" style="color:#FF751D; font-family:Algerian;font-size:39px;">Welcome to Admin Panel</h1>
                <div class="account-wall shade">
            <img class="profile-img" src="images/profile.png">
                      <p align="center" style="color:red;"> 
              <?php echo $result; ?> 
            </p>
                        
                    <form class="form-signin" method="post">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" required >
              </div>
              <div class="form-group">
                <input type="password" name="pswd" class="form-control" placeholder="Password" required>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="sub">
                Sign in</button>
                    
                   <span class="clearfix"></span>
                    </form>
                </div>
                
            </div>
        </div> -->
    
